<% provide(:user_form_button, t('sign_up')) %>

<!-- <script type="text/javascript">
  $(document).ready(function() {
    $('#fullpage').fullpage({
      sectionsColor: ['#1bbc9b'],
      anchors: ['firstPage'],
      menu: '#menu'
    });
  });
</script> -->

<style type="text/css" media="screen">
  body {
    background-color: #1bbc9b;
  }
  .jumbotron {
    background-color: #1bbc9b;
  }
  h1.myindex {
    text-align: center;
    color: #fff;
  }
  p.myindex {
    text-align: center;
    color: #333;
  }
</style>

<ul id="menu">

  <li data-menuanchor="firstPage" class="active">
    <a href="<%= root_path %>">หน้าแรก</a>
  </li>

  <li data-menuanchor="secondPage">
    <a href="<%= new_user_path %>">สมัครสมาชิก</a>
  </li>

  <li data-menuanchor="3rdPage">
    <a href="<%= login_path %>">เข้าสู่ระบบ</a>
  </li>

</ul>

<div class="jumbotron">
  <div class="container-fluid mysection">
    <h1 class="myindex">Sweet Farm</h1>
    <p class="myindex">ระบบจัดการอ้อยด้วยปลายนิ้วแห่งแรกในประเทศไทย :)</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var window_hei = $(window).height();
    var menu_hei = $("#menu").height();
    var jumbotron_hei = window_hei - menu_hei;
    var hei = jumbotron_hei + "px";

    $(".jumbotron").css('height', hei);

    var text_hei = $("h1.myindex").height() + $("p.myindex").height();
    var pt = ((window_hei - text_hei) / 2) - menu_hei - (text_hei / 2);
    var pt_px = pt + "px";

    $("h1.myindex").css('margin-top', pt_px);

    console.log("window: " + window_hei);
    console.log("menu: " + menu_hei);
    console.log("jumbotron: " + jumbotron_hei);
    console.log("text: " + text_hei);
    console.log("pt: " + pt_px);
  });
</script>

<!-- <div id="fullpage">

  <div class="section" id="section0">
    <h1 class="index">Sweet Farm</h1>
    <p class="index">ระบบจัดการอ้อยด้วยปลายนิ้วแห่งแรกในประเทศไทย :)</p>
  </div>

  <div class="section" id="section1">
    <div class="intro">
      <h1 class="index">สมัครสมาชิก</h1>
      <p class="index">ร่วมเป็นส่วนหนึ่งกับเราฟรี</p>
      <a class="btn btn-lg btn-index" href="<%= new_user_path %>" title="สมัครสมาชิก">
        สมัครเลย!
      </a>
    </div>
  </div>

  <div class="section" id="section2">
    <div class="intro">
      <h1 class="index">เข้าสู่ระบบ</h1>
      <p class="index">เริ่มต้นจัดการอ้อยด้วยปลายนิ้ว</p>
      <a class="btn btn-lg btn-index" href="<%= login_path %>" title="เข้าสู่ระบบ">
        เข้าสู่ระบบเลย!
      </a>
    </div>
  </div>

</div> -->
