<% provide(:title, t('views.static_pages.index.title')) %>

<div class="row">

  <div class="jumbotron">
    <div class="container">
      <h1><%=t 'views.static_pages.index.jumbotron.welcome' %></h1>
      <p><%=t 'views.static_pages.index.jumbotron.content' %></p>
      <p>
        <%= link_to t('sign_up'), new_user_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
  <!-- end jumbotron -->

	<%= link_to 'page2', page2_path(locale: I18n.locale) %>
</div>

<%= fa_icon "camera-retro" %>

<%= fa_stacked_icon "twitter", base: "square-o" %>

<%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-5x" %>
<br>
<%= fa_stacked_icon "terminal inverse", base: "square", class: "pull-right", text: "Hi!" %>
