<% provide(:title, t('views.static_pages.index.title')) %>

  <% if logged_in? %>
    <div class="jumbotron" id="jumbotron-attraction">
      <div class="container">
        <h1>ระบบแรงดึงดูด</h1>
        <p>จัดการอ้อยด้วยปลายนิ้ว</p>
        <p>
          <a class="btn btn-primary btn-lg">ซื้ออ้อย</a>
          <a href="<%= new_user_sale_path(current_user) %>" class="btn btn-warning btn-lg">ขายอ้อย</a>
        </p>
      </div>
    </div>
  <% else %>

  <div class="jumbotron">
    <div class="container">
      <h1><%=t 'views.static_pages.index.jumbotron.welcome' %></h1>
      <p><%=t 'views.static_pages.index.jumbotron.content' %></p>
      <p>
        <%= link_to t('sign_up'), new_user_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
  <!-- end jumbotron -->

	<%= link_to 'page2', page2_path(locale: I18n.locale) %>

  <% end %>

