<div class="thumbnail announcement-card">
  <a href="<%= announcement_path(announcement) %>" title="ดูรายละเอียดประกาศ">

    <%= image_tag announcement.cane_picture.url, style: "width: auto; height: 150px;" %>

    <div class="caption">

      <h4 class="<%= announcement.role %>-text">
        <%= 'ซื้ออ้อย' if announcement.role == 'purchase' %>
        <%= 'ขายอ้อย' if announcement.role == 'sale' %>
        <%= announcement.amount %> ตัน
        <small>(<%= announcement.price %> บาท/ตัน)</small>
      </h4>
      <p>
        <i class="fa fa-map-marker"></i>
        จ.<%= announcement.district.province.PROVINCE_NAME %>,
        อ.<%= announcement.district.amphur.AMPHUR_NAME %>,
        ต.<%= announcement.district.DISTRICT_NAME %>
      </p>

      <h4 class="pull-right result-price">
        ฿<%= number_with_delimiter(announcement.price * announcement.amount, delimiter: ',') %>
      </h4>

    </div>
    <!-- ./caption -->

    <hr>

    <div class="media ratings">

      <div class="pull-right"><%= announcement.user.passive_reviews.count %> รีวิว</div>

      <a class="pull-left" href="<%= user_path(announcement.user) %>">
        <%= image_tag announcement.user.picture, class: "media-object", style: "height: 50px; width: 50px;" %>
      </a>
      <!-- ./pull-left -->

      <div class="media-body">
        <a href="<%= user_path(announcement.user) %>" title="">
          <h5 class="media-heading">
            <%= announcement.user.name %>
          </h5>
        </a>
        <p id="show_rating_<%= announcement.id %>">
          <!-- <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star-half-o"></i></span>
          <span><i class="fa fa-star-o"></i></span> -->
        </p>
      </div>
      <!-- ./media-body -->

    </div>
    <!-- ./media -->

    <% if announcement.expire >= Time.now %>
      <p class="center" style="color: gray;">
        หมดอายุในอีก <%= distance_of_time_in_words_to_now(announcement.expire) %>
      </p>
    <% else %>
      <p class="center" style="color: red;">หมดอายุแล้ว</p>
    <% end %>

    <% if announcement.user != current_user %>
      <a href="<%= announcement_path(announcement) %>" title="ยื่นข้อเสนอ" class="btn btn-block btn-<%= announcement.role %>-deal" <%= "disabled='disabled'" if announcement.expire < Time.now %>>
        <%= "เสนอขาย" if announcement.role == 'purchase' %>
        <%= "เสนอซื้อ" if announcement.role == 'sale' %>
      </a>
    <% else %>
      <div class="row">
        <div class="col-sm-12">
          <a href="<%= edit_announcement_path(announcement) %>" class="btn btn-default btn-block">
            <i class="fa fa-pencil"></i>
            แก้ไข
          </a>
        </div>
      </div>
    <% end %>

  </a>
</div>
<!-- ./thumbnail -->

<script type="text/javascript">
  show_rating("show_rating_<%= announcement.id %>", <%= get_rating_avg(announcement.user) %>);
</script>
