<% provide(:title, 'เพิ่มประกาศใหม่') %>

<div class="container">

  <ol class="breadcrumb">
    <li>
      <a href="<%= root_path %>">หน้าแรก</a>
    </li>
    <li>
      <a href="<%= announcements_path(user_id: current_user, role: @role) %>"><%= 'ระบบซื้ออ้อย' if @role == 'purchase' %><%= 'ระบบขายอ้อย' if @role == 'sale' %></a>
    </li>
    <li class="active">เพิ่มประกาศใหม่</li>
  </ol>

  <div class="page-header">
    <h1>
      ระบบ<%= 'ขายอ้อย' if @role == 'sale' %><%= 'ซื้ออ้อย' if @role == 'purchase' %>
      <small>เพิ่มประกาศใหม่</small>
    </h1>
  </div>
  <!-- ./page-header -->

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@announcement, url: announcements_path) do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
      <% end %>
    </div>
  </div>

<!-- ./container -->
</div>

<script type="text/javascript">
  var show_result = function() {
    $(document).ready(function(){
      var amount = $('#announcement_amount').val();
      var price = $('#announcement_price').val();
      var result = amount*price;
      $('#result-price').text("ราคารวม " + result + " บาท").digits();
    });
  }

  $(document).ready(function() {

    $('#announcement_role').hide();

    $('#announcement_province').select2();

    $('#announcement_amphur').select2();

    $('#announcement_district_id').select2();

    option_province('announcement_province');

    $('#announcement_province').change(function(){
      var province_id = $('#announcement_province').val();
      option_amphur('announcement_amphur', province_id);
      $('#announcement_amphur').val('US');
      $('#announcement_amphur').trigger('change');
      $('#announcement_district_id').val('US');
      $('#announcement_district_id').trigger('change');
    });

    $('#announcement_amphur').change(function(){
      var province_id = $('#announcement_province').val();
      var amphur_id = $('#announcement_amphur').val();
      option_district('announcement_district_id', province_id, amphur_id);
      $('#announcement_district_id').val('US');
      $('#announcement_district_id').trigger('change');
    });

  });
</script>

<style type="text/css">
  #result-price{
    color: orange;
  }
</style>
