<% provide(:title, @announcement.role) %>

<div class="container">

  <ol class="breadcrumb">
    <li>
      <a href="<%= root_path %>">หน้าแรก</a>
    </li>
    <li>
      <a href="<%= announcements_path(user_id: current_user, role: @announcement.role) %>">
        <%= "ระบบซื้ออ้อย" if @announcement.role == 'purchase' %>
        <%= "ระบบขายอ้อย" if @announcement.role == 'sale' %>
      </a>
    </li>
    <li class="active">
      <%= 'ประกาศซื้ออ้อย' if @announcement.role == 'purchase' %>
      <%= 'ประกาศขายอ้อย' if @announcement.role == 'sale' %>
    </li>
  </ol>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">

      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#announcement" aria-controls="announcement" role="tab" data-toggle="tab">ประกาศ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="announcement">

              <%= render partial: "announcement_card", locals: {announcement: @announcement} %>

          </div>
          <!-- .tab-pane -->
        </div>
        <!-- ./tab-content -->
      </div>
      <!-- ./tabpanel -->

    </div>
    <!-- ./col -->

    <div class="col-md-6">
      <% if @announcement.user != current_user %>
        <%= form_for(@deal, url: deals_path(announcement_id: @announcement.id)) do |f| %>
          <%= render partial: 'deals/form', locals: {f: f, announcement: @announcement} %>
        <% end %>
      <% end %>

      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#deals" aria-controls="deals" role="tab" data-toggle="tab">ข้อเสนอ</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="deals">
            <div class="well">
              <%= render partial: 'deals/deal', collection: @deals, locals: {announcement: @announcement} %>
            </div>
          </div>
        </div>

    </div>

  </div>
  <!-- ./row -->
</div>
<!-- ./container -->
