<% provide(:title, t('login')) %>

<style type="text/css" media="screen">
  body {
    background-color: #7BAABE;
  }
</style>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <a href="<%= login_facebook_path %>" class="btn btn-block btn-facebook">
          <i class="fa fa-facebook fa-fw"></i> <%=t 'views.sessions.new.login_with_facebook' %>
        </a>

        <a href="<%= login_google_path %>" class="btn btn-block btn-google">
          <i class="fa fa-google fa-fw"></i> <%=t 'views.sessions.new.login_with_google' %>
        </a>

      </div>
    </div>



  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-envelope-o"></i>
        <%=t 'views.sessions.new.login_with_email' %>
      </div>
      <div class="panel-body">
         <%= form_for(:session, url: login_path) do |f| %>
           <%= f.label :email, t('activerecord.attributes.user.email') %>
           <%= f.email_field :email, class: 'form-control' %>

           <%= f.label :password, t('activerecord.attributes.user.password') %>
           <%= f.password_field :password, class: 'form-control' %>

          <div class="checkbox">
           <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            <span><%=t 'remember_me' %></span>
           <% end %>
           </div>

           <%= f.submit t('login'), class: 'btn btn-primary btn-block' %>

         <% end %>
      </div>
    </div>
    <!-- end panel -->
    <div class="panel panel-default">
      <div class="panel-body">
         <%=t 'views.sessions.new.new_user' %>
         <%= link_to t('sign_up'), new_user_path %>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->
