<% provide(:title, t('sign_up')) %>
<% provide(:user_form_button, t('sign_up')) %>

<style type="text/css" media="screen">
  body {
    background-color: #4BBFC3;
  }
</style>

<ul id="menu">

  <li data-menuanchor="firstPage">
    <a href="<%= root_path %>">หน้าแรก</a>
  </li>

  <li data-menuanchor="secondPage" class="active">
    <a href="<%= new_user_path %>">สมัครสมาชิก</a>
  </li>

  <li data-menuanchor="3rdPage">
    <a href="<%= login_path %>">เข้าสู่ระบบ</a>
  </li>

</ul>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-body">

        <a href="<%= login_facebook_path %>" class="btn btn-block btn-facebook">
          <i class="fa fa-facebook fa-fw"></i> <%=t 'views.users.new.sign_up_with_facebook' %>
        </a>

        <a href="<%= login_google_path %>" class="btn btn-block btn-google">
          <i class="fa fa-google fa-fw"></i> <%=t 'views.users.new.sign_up_with_google' %>
        </a>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-envelope-o"></i>
        <%=t 'views.users.new.sign_up_with_email' %>
      </div>
      <div class="panel-body">
        <%= form_for @user, url: users_path(locale: I18n.locale), html: {multipart: true} do |f| %>
          <%= render partial: 'form', locals: {f: f} %>
        <% end %>
      </div>
    </div>
  </div>

</div>
