<% provide(:title, @user.name) %>

<h1 class="center"><%=t 'profile' %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th><%=t 'activerecord.attributes.user.picture' %></th>
          <td><%= image_tag @user.picture.url, id: 'show-user-picture' %></td>
        </tr>
        <tr>
          <th><%=t 'activerecord.attributes.user.name' %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th><%=t 'activerecord.attributes.user.email' %></th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>

    <% if current_user?(@user) %>
      <a href="<%= edit_user_path(id: current_user, locale: I18n.locale) %>" title="แก้ไขโปรไฟล์" class="btn btn-default btn-block">
        <i class="fa fa-pencil"></i> <%=t 'views.users.edit.update_profile' %>
      </a>
    <% end %>

  </div>
</div>
