<% provide(:title, @user.name) %>

<h1 class="center"><%=t 'profile' %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th><%=t 'activerecord.attributes.user.name' %></th>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <th><%=t 'activerecord.attributes.user.email' %></th>
          <td><%= current_user.email %></td>
        </tr>
      </table>
    </div>
    <%= link_to t('views.users.edit.update_profile'), edit_user_path(id: current_user, locale: I18n.locale), class: "btn btn-default btn-block" %>
  </div>
</div>
