<nav class="navbar my-navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Sweet Farm', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <% if logged_in? %>

        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>ระบบซื้ออ้อย <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'ประกาศของฉัน', user_announcements_role_path(user_id: current_user, announcement_role: 'purchase') %></li>
              <li><%= link_to 'เพิ่มประกาศใหม่', new_announcement_path(role: 'purchase') %></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>ระบบขายอ้อย <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'ประกาศของฉัน', user_announcements_role_path(user_id: current_user, announcement_role: 'sale') %></li>
              <li><%= link_to 'เพิ่มประกาศใหม่', new_announcement_path(role: 'sale') %></li>
            </ul>
          </li>

          <li>
            <a href="<%= announcement_analytics_path(last_days: 7) %>">วิเคราะห์ข้อมูล</a>
          </li>

        </ul>

      <% end %>

      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag @current_user.picture.url, id: 'nav-user-picture' %>
              <%= @current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="<%= user_path(id: @current_user, locale: I18n.locale) %>" title="โปรไฟล์ของฉัน">
                  <i class="fa fa-user"></i>
                  <%=t 'profile' %>
                </a>
              </li>

              <!-- <li>
                <a href="<%#= settings_path %>"><i class="fa fa-cog"></i> <%#= t('settings') %></a>
              </li> -->

              <% if current_user.admin? %>
                <!-- <li>
                  <a href="<%#= admin_menu_path(locale: I18n.locale) %>">
                    <i class="fa fa-lock"></i> <%#=t 'activerecord.attributes.user.admin' %>
                  </a>
                </li> -->
              <% end %>

              <li class="divider"></li>

              <li>
                <a rel="nofollow" href="<%= logout_path %>" data-method="delete">
                  <i class="fa fa-sign-out"></i> <%= t('logout') %>
                </a>
              </li>
            </ul>
          </li>

        <% else %>

          <li>
            <p class="navbar-btn">
              <%= link_to t('sign_up'), new_user_path, class: "btn btn-primary" %>
            </p>
          </li>
          <li><%= link_to t('login'), login_path %></li>

        <% end %>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>
