<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sweet Farm | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<% if logged_in? %>
  <style type="text/css" media="screen">
    body {
      padding-top: 55px;
    }
  </style>
  <%= render 'layouts/navbar' %>
<% end %>

<div class="container-fluid">
  <div class="row">

    <% flash.each do |message_type, message| %>

      <div class="col-xs-12 col-sm-10 col-sm-offset-1 alert alert-<%= message_type %> alert-dismissible" style="position: absolute;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</div>

<div class="container">
	<div class="row">
		<%#= debug(params) if Rails.env.development? %>
	</div>
</div>

</body>
</html>
